@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Overpass', sans-serif;
    color: hsl(0, 0%, 100%);
}

.container {
    margin: 0;
    background-color: hsl(216, 12%, 8%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center {
    background-color: hsl(213, 19%, 18%);
    width: 28%;
    height: 50vh;
    border-radius: 15px;
}

.content, .thank-you {
    max-width: 100%;
    padding: 25px;
}

.hide{
    display: none;
}

.circle {
    width: 17px;
    height: 17px;
    background-color: hsla(216, 12%, 54%, 0.2);
    border-radius: 20px;
    padding: 12px;
}

h2 {
    margin-top: 35px;
    margin-bottom: 10px;
    font-size: 35px;
    font-weight: bold;
}

p {
    margin-top: 0;
    color: hsl(217, 12%, 63%);
    font-size: 19px;
}

.numbers{
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
}

.numbers span {
    width: 20px;
    height: 20px;
    text-align: center;
    background-color: hsla(216, 12%, 54%, 0.2);
    width: 20px;
    height: 20px;
    border-radius: 25px;
    color: hsl(217, 12%, 63%);
    padding: 12px;
}

.numbers span:hover {
    background-color: hsl(217, 12%, 63%);
    color: hsl(0, 0%, 100%);
}

.selected{
    background-color: hsl(25, 97%, 53%) !important;
    color: hsl(0, 0%, 100%) !important;

    transition: background-color .2s linear;
}

button{
    margin-top: 20px;
    background-color: hsl(25, 97%, 53%);
    border: none;
    border-radius: 25px;
    width: 100%;
    font-weight: 700;
    color: hsl(0, 0%, 100%);
    padding: 11px 0;
    font-size: 15px;
    cursor: pointer;
    text-transform: uppercase;
}

button:active {
    color: hsl(25, 97%, 53%);
    background-color: hsl(0, 0%, 100%);
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.thank-image{
    display: flex;
    justify-content: center;
}

.thank-image img{
    width: 170px;
    margin-top: 20px;
}

.text-center{
    text-align: center;
    margin-top: 0;
}

.selection{
    background-color: hsla(216, 12%, 54%, 0.2);
    color: hsl(25, 97%, 53%);
    text-align: center;
    padding: 10px 15px;
    margin-top: 25px;
    border-radius: 25px;
    font-size: 15px;
}